{#- vim: set filetype=jinja: #}

{%- extends "bootstrap/base.html" %}

{% block html_attribs %} xmlns:fb="http://ogp.me/ns/fb#" lang="en"{% endblock html_attribs %}


{#- Set title #}
{% block title %}{{ title | default('hackerz') }}{% endblock title %}

{# Meta tags for page description -#}
{% block metas -%}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{ super() }}
<meta property="fb:app_id" content="{{ app_id }}" />
{% endblock metas %}

{# Links for SEO -#}
{% block links -%}
<link rel="canonical" href="http://unsung.io/" />
{%- endblock links %}

{# Custom CSS styles #}
{% block styles %}
{{ super() }}
{% endblock styles %}

{# Import fixes for legacy browsers (just IE lol), hopefully it works #}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{ super() }}
{{ fixes.ie8() }}
{% endblock head %}


{% block navbar %}
{{ nav.site_nav.render() | safe }}
{% endblock navbar %}

{% block content %}
<div class="container">
  {% block page_content %}
  {%- endblock page_content %}
</div>
{% endblock content %}

